/*Hoverboard CSS*/
html, body {
	height:100%;
	background-color: rgb(202,134,75);
}

.inline div {
	float:left;
	width:33%;
}

#b-container {
	height:100%;
	margin:0 auto;
	background-image: url("../img/board/Steam.png"), url("../img/board/Background.png");
	background-size: contain, cover;
	background-repeat: no-repeat, no-repeat;
	background-position: center center, center center;
}

#b-container {
	text-align: center;
}

.img-centred {
	margin: auto;
}

#board {
	position: relative;
	overflow: hidden;
}

#placeholder {
	visibility: hidden;
}

#steam,
#chassis,
#propeller,
#turbine,
#gauge,
#wings,
#footholds,
#submit {
	position: absolute;
	top:0;
	bottom:0;
	right:0;
	left:0;
	background-size: contain;
	background-repeat: no-repeat;
}

#chassis {
	z-index:1;
}

#propeller {
	z-index:2;
}

#turbine {
	z-index:3;
}

#gauge {
	z-index:4;
}

#wings {
	z-index:5;
}

#footholds {
	z-index:6;
}

#submit {
	background-image:url("../img/board/Submit_arrow.png");
	top:auto;
	left:auto;
	height:40%;
	margin-right: -10%;
	width:40%;
	z-index: 7;
}

#submit:hover {
	background-image:url("../img/board/Submit_arrow_hover_state.png");
}

.title_row,
.title_row td {
	height:10%;
}

.title_row td {
	width:100%;
}

.control_row,
.control_row td {
	height:20%;
}

.control_row td {
	width: 33%;
}

.title_row td,
.button {
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}